<!DOCTYPE html>
<html lang="en">

    <%- include Partials/head.ejs %>  

<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include Partials/loader.ejs %>  
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        



        <%- include Partials/header.ejs %>  



        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
       
       
       

        <%- include Partials/sidenav.ejs %>         
       
       
       
       
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="login-form-bg h-100">
                    <div class="container h-100">
                        <div class="row justify-content-center h-100">
                            <div class="col-xl-6">
                                <div class="form-input-content">
                                    <div class="card login-form mb-0">
                                        <div class="card-body pt-5">
                                            <a class="text-center" href="index.html"> <h4>Reinvest</h4></a>
                    
                                            <br>
                                            <br>
                                            <br>



                                            
<% if(expirePeriod == 'true') { %>

                                            <div class="form-group">
                                                <label>Select Amount:</label>

                                                  <% if (visit == 1) {%>

                                                <select class="form-control" id="sel1">
                                                    <option>0.25</option>
                                                    <option>0.50</option>
                                                  </select>                          
                                            <% } %>
                                            <% if (visit >= 2) {%>

                                                <select class="form-control" id="sel1">
                                                    <option>0.25</option>
                                                    <option>0.50</option>
                                                    <option>0.75</option>
                                                  </select>
                                            
                                            <% } %>
                                            
                                                </div>
                                                      <button onclick="reinvest()" class="btn login-form__btn submit w-100">Reinvest</button>
                                                      <p class="mt-5 login-form__footer">More Investment means more results!</p>
                                       
                                                      <% } else { %>
                                
                                
                                                  <button onclick="a()" class="btn login-form__btn submit w-100">Expire User</button>
   
                                                  <p class="mt-5 login-form__footer">You wont be able to withdraw your current income after expire. If you have any <a href="/dashboard" class="text-primary">Go</a> to dashboard now</p>
                                       


<% } %>



                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <%- include Partials/footer.ejs %> 
        
        <!--********************************** 

            Footer end-->



            <script>






var a  = function () { swal({ title: "Are you sure to Expire ?", 
text: "You will not be able to recover any previous earnings !!", 
type: "warning", showCancelButton: !0, confirmButtonColor: "#DD6B55", 
confirmButtonText: 'Expire', closeOnConfirm: !0 },function () { expire() },function () {  } ) };





var logouts = function () { swal({ title: "Are you sure to Logout ?", 
text: "You will be redirected to home page !!", 
type: "error", showCancelButton: !0, confirmButtonColor: "#DD6B55", 
confirmButtonText: 'Logout', closeOnConfirm: !0 },function () { window.location.href = '/logout'; },function () {  } ) };





function getallamount()
                    {
                        
                        
                         document.getElementById('withdrawl_amount').value = '<%- earnings %>';
  
                        
                    }


                    function withDrawAmount( )
                    {
                       // var amount = document.getElementById('withdrawl_amount').value;

                        if( 0.03 > '<%- parseFloat(earnings) %>')
                        {
                            alert('your balance should be above 0.03')
                            return
                        }
                        else{
                           
                            withDrawAmounts();
                        }
                                           }
                
            </script>
</body>

</html>