<!DOCTYPE html>
<html lang="en">

    <%- include Partials/head.ejs %>  

<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include Partials/loader.ejs %>  
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        



        <%- include Partials/header.ejs %>  



        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
       
       
       

        <%- include Partials/sidenav.ejs %>         
       
       
       
       
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">

                 </div>
                          
            <!-- #/ container -->
        </div>
        
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <%- include Partials/footer.ejs %> 
        <script src="./plugins/sweetalert/js/sweetalert.min.js"></script>
<script src="./plugins/sweetalert/js/sweetalert.init.js"></script>
        <!--********************************** 

            Footer end-->


            <%- include Partials/logout_popup.ejs %>     

          
           









</body>

</html>