<!DOCTYPE html>
<html lang="en">

    <%- include Partials/head.ejs %>  

<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include Partials/loader.ejs %>  
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        



        <%- include Partials/header.ejs %>  



        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
       
       
       

        <%- include Partials/sidenav.ejs %>         
       
       
       
       
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="login-form-bg h-100">
                    <div class="container h-100">
                        <div class="row justify-content-center h-100">
                            <div class="col-xl-6">
                                <div class="form-input-content">
                                    <div class="card login-form mb-0">
                                        <div class="card-body pt-5">
                                            <a class="text-center" href="index.html"> <h4>WithDrawal</h4></a>
                    
                                            <br>
                                            <br>
                                            <br>
                                            <div class="input-group mb-3">
                                                <input id="withdrawl_amount" type="number" class="form-control">
                                                <div class="input-group-append">
                                                    <button onclick="getallamount()" class="btn btn-outline-dark" type="button">Max</button>
                                                </div>
                                            </div>
                                           
            
                                            
                                           
                                                      <button onclick="withdrawam()" style="color: white;background-color: purple;" class="btn login-form__btn submit w-100">Withdraw Amount</button>
                                         
                                            <p class="mt-5 login-form__footer">Dont have any earnings yet? <a href="/dashboard" style="color: purple;">Go</a> to dashboard now</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                          
            <!-- #/ container -->
        </div>
        
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <%- include Partials/footer.ejs %> 
        <script src="./plugins/sweetalert/js/sweetalert.min.js"></script>
<script src="./plugins/sweetalert/js/sweetalert.init.js"></script>
        <!--********************************** 

            Footer end-->


            <%- include Partials/logout_popup.ejs %>     

          
            <script>

var withdrawam = function () { swal({ title: "Are you sure you want to withdraw ?", 
text: "All your income will be transferred to your wallet",
type: "success", showCancelButton: !0, confirmButtonColor: "#50D050", 
confirmButtonText: 'Ok', closeOnConfirm: !0 },function () { withDrawAmount() },function () {  } ) };



window.addEventListener('load', async () => {
    document.getElementById('withdrawl_amount').value = '<%- earnings %>';
  

console.log(typeof('<%- earnings %>'));

});



                function getallamount()
                    {
                        
                         document.getElementById('withdrawl_amount').value = '<%- earnings %>';
                        
                    }


                    function withDrawAmount( )
                    {
                       // var amount = document.getElementById('withdrawl_amount').value;


                      

                        if('<%- expirePeriod %>' == 'true')
                        {

                            withDrawAmounts('<%- earnings %>');
                            
                        }
                        else{
                        if( 0.03 > '<%- parseFloat(earnings) %>')
                        {
                            alert('your balance should be above 0.03')
                            return
                        }
                        else{                           
                                withDrawAmounts('<%- earnings %>');

                            }
                                           }
                                        }
                
            </script>









</body>

</html>